<div class="container">

  <ul>
      <li><%= link_to("アカウント",edit_user_registration_path )%></li>
      <li><%= link_to("プロフィール",profile_edit_path,class:"active") %></li>
  </ul>

  <div class="profile_container">
    <div class="profile_box">

      <h3>プロフィール</h3>
      
      <% if flash.notice %>
        <p class="notice"><%= flash.notice%></p>
      <%end%>

      <%= form_for current_user, url: {action: 'profile_update'} do |f| %>
        <hr size="1px" color="#bbb">
        <div class="field">
          <%= f.label :img ,class:"profile_label" %><br />
          <%= f.file_field :img ,class:"profile_textfield" %>
        </div>
      <hr size="1px" color="#bbb">
        <div class="field">
          <%= f.label :name ,class:"profile_label"%><br />
          <%= f.text_field :name ,class:"profile_textfield" %>
        </div>
        <hr size="1px" color="#bbb">
        <div class="field">
          <%= f.label :introduction,class:"profile_label" %><br />
          <%= f.text_area :introduction,class:"profile_textarea" %>
        </div>
      
        <div class="actions">
          <%= f.submit "更新" %>
        </div>
      <% end %>


  </div>
  </div>
</div>