<div class="create">

  <p>ログイン</p>
  <div class="create_form">


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="signup_field">
      <%= f.label :email ,class:"profile_label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"signup_textfield" %>
    </div>

    <div class="signup_field">
      <%= f.label :password ,class:"profile_label"%><br />
      <%= f.password_field :password, autocomplete: "current-password" ,class:"signup_textfield"%>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="signup_checkbox_field">
        <%= f.check_box :remember_me ,class:"signup_checkbox"%>
        <%= f.label :remember_me ,class:"signup_checkbox_text"%>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <%= link_to "新しいアカウントを作成",new_user_registration_path ,class:"create_link" %>
  </div>
</div>