<div class="create">

  <h4>確認画面</h4>
  <%= render "shared/error", obj: @post %>

  <div class="create_form">

      <%= form_for @post do |f| %>
          <div class="form-group">

          <h5>
            ユーザー名：<%= @post.user.name  %><br>
            ルームID：<%= @post.room_id %>
          </h5>

            <hr size=".5px" color="#bbb">


              <%= f.label :startday%>
              <%= f.date_field :startday ,class:"profile_textfield form-control",readonly: true %>

              <%= f.label :endday%>
              <%= f.date_field :endday ,class:"profile_textfield form-control",readonly: true %>

              <%= f.label :peoples%>
              <%= f.text_field :peoples ,class:"profile_textfield form-control",readonly: true %>

              <%= f.label :fee %>
              <%= f.text_field :fee ,class:"profile_textfield form-control",readonly: true %>
            

            </div>

        <div class="actions">
          <%= f.submit "予約する" %>
        </div>

        <div class="actions">
          <%= f.submit "戻る", name: :back, class: "btn btn-secondary"%>
        </div>
      <% end %>
  </div>
</div>