<h1>ルーム登録ページ</h1>

<%= form_for @room do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :introduction %>
  <%= f.text_area :introduction %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= f.submit %>

<% end %>