<div class="room_show">
  <h1 fontsize="14">ルーム予約画面</h1>

  <div class="d-flex flex-wrap">

    <div class="col-sm-8 ">
      <div class="card mb-8">
        <%= image_tag @room.image.url ,:height=>'300',class:"room_show_img"%>
        <div class="card-body">
          <% if current_user.img? %>
            <%= image_tag current_user.img.url ,:height=>"40", class:"usericon" %>
          <% else %>
            <%= image_tag "default.png" ,:height=>"40" , class:"usericon" %>
          <% end %>
          <div class="room_show_name">
            <h4 class="card-title"><%= @room.name %></h5>
            <font size="2",class="card-text",fornsize="2"><%= @room.address %></font><br>
          </div>
          <hr size=".5px" color="#bbb">
          <p class="card-text">  <%= simple_format @room.introduction %></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="room_show_container">
        <form>
          <h5>
            <%= number_to_currency(@room.price, :unit => "円") %> / 日
          </h5>
            <hr size=".5px" color="#bbb">
          <div class="form-group">
            <label for="exampleInputEmail1">開始日</label>
            <input type="date" class="form-control" id="exampleInputstartday" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">終了日</label>
            <input type="date" class="form-control" id="exampleInputendday" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

