<div class="head">
  <div class="top_container">
    <h5>Ayabnbで、旅をもっと身近にしよう</h5> <br>
    <p>エリア</p>
      <%= search_form_for @search do |f| %>        
        <%= f.text_field :address_cont,placeholder: '東京',class:"index_input form-control" %>
        <%= f.submit "検索" ,class:"btn btn-primary"%>
      <% end %>



  </div>
</div>

<div class="top_area_container">


      <%= link_to image_tag("/tokyo.jpg"), rooms_index_path(q: { address_cont: '東京' }), class:"top_area_img"%>
      <%= link_to image_tag("/osaka.jpg"), rooms_index_path(q: { address_cont: '大阪' }), class:"top_area_img"%>
      <%= link_to image_tag("/kyoto.jpg"), rooms_index_path(q: { address_cont: '京都' }), class:"top_area_img"%>
      <%= link_to image_tag("/sapporo.jpg"), rooms_index_path(q: { address_cont: '北海道' }), class:"top_area_img"%>
</div>
