<div class="create">

  <h4>確認画面</h4>
  <%= render "shared/error", obj: @post %>

  <div class="create_form">

      <%= form_for @post do |f| %>
          <div class="form-group">

          <hr size=".5px" color="#bbb">

              <p><%= @post.room_id ,class:"profile_textfield form-control",readonly: true %></p>
              <p><%= @post.room_id.name ,class:"profile_textfield form-control",readonly: true %></p>

              <%= f.label :startday%>
              <%= f.date_field :startday ,class:"profile_textfield form-control",readonly: true %>

              <%= f.label :endday%>
              <%= f.date_field :endday ,class:"profile_textfield form-control",readonly: true %>

              <%= f.label :peoples%>
              <%= f.text_field :peoples ,class:"profile_textfield form-control",readonly: true %>
              
              <%= f.label :fee %>
              <%= f.text_field :fee = (post.room_id.price * (post.endday.to_date - post.startday.to_date)) ,class:"profile_textfield form-control",readonly: true  ,class:"profile_textfield form-control" %>

            </div>

        <div class="actions">
          <%= f.submit "予約する" %>
        </div>

        <div class="actions">
          <%= f.submit "戻る", name: :back, class: "btn btn-secondary"%>
        </div>
      <% end %>
  </div>
</div>