<div class="room_index_view">

<h2>予約一覧</h2>

<table class="table table-striped"> 
    <thead>
        <tr class="posts_index_title">
            <th>画像</th>
            <th >ルーム名</th>
            <th class="post_introduce post_media">ルーム紹介</th>
            <th class="post_media">合計金額</th>
            <th class="post_media">予約確定日</th>
            <th>予約確認</th>
            <th>キャンセル</th>
        </tr>
    </thead>

    <tbody class="posts_tbody">
        <% current_user.posts.each do |post| %>
            <tr class="outer">
              
                <div class="posts_index_list">
                  <td class="align-middle text-center">
                  <% if post.room_image? %>
                  <%= link_to"/rooms/#{post.room_id}" do %>
                    <%= image_tag post.room_image, class:"post_show_img" %>
                  <% end %>
                  <% else %>
                  <%= link_to"/rooms/#{post.room_id}" do %>
                    <%= image_tag '/default.png', class:"post_show_img"%>
                  <% end %>
                  <% end %>
                  </td>
                  <td class="align-middle text-center"><%= link_to post.room_name,"/rooms/#{post.room_id}" %></td>
                  <td class="post_media"><%= link_to post.room_introduction, "/rooms/#{post.room_id}" %></td>
                  <td class="align-middle text-center post_media"><%= post.fee %>円</td>
                  <td class="align-middle text-center post_media"><%= post.updated_at.strftime('%Y月%m日%d日') %></td>
                  <td class="align-middle text-center"><%= link_to "確認", post, class:"textdeco"%></td>
                  <td class="align-middle text-center"><%= link_to "キャンセル", post, method: :delete, data:{confirm:"本当にキャンセルしますか？"}, class:"textdeco" %></td>
              </div>
            </tr>
              <% end %>
      </tbody>
  </table>
</div>
