<div class="room_index_view">

<h2>予約一覧</h2>

<table> 
    <thead>
        <tr>
            <th>予約No.</th>
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>合計金額</th>
            <th>チェックイン</th>
            <th>チェックアウト</th>
            <th>人数</th>
            <th>予約確定日</th>
            <th>確認</th>
            <th>編集</th>
            <th>キャンセル</th>
        </tr>
    </thead>
    <tbody>
        <% @posts.each do |post| %>
            <tr>
              <td><%= post.id %></td>
              <td><%= post.id %></td>
              <td><%= post.id %></td>
              <td><%= post.id %></td>
              <td><%= number_to_currency(post.fee, :unit => "円") %></td>
              <td><%= post.startday.strftime('%Y月%m日%d日') %></td>
              <td><%= post.endday.strftime('%Y月%m日%d日') %></td> 
              <td><%= number_to_currency(post.peoples, :unit => "名様") %></td>
              <td><%= post.updated_at.strftime('%Y月%m日%d日') %></td>
              <td><%= link_to "確認", post, class:"textdeco"%></td>
              <td><%= link_to "編集", [:edit, post], class:"textdeco" %></td>
              <td><%= link_to "キャンセル", post, method: :delete, data:{confirm:"本当に削除しますか？"}, class:"textdeco" %></td>

              </div>
            </tr>
              <% end %>
      </tbody>
  </table>
</div>

        <% @rooms.each do |room| %>
          <td><img src="<%= room.image %>" width="50"></td>
          <td><%= room.name %></td>
          <td><%= room.introduction %></td>
        <% end %>
