<!DOCTYPE html>
<html>
  <head>
    <title>Ayabnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


  </head>

  <body>
    <header>
    <div class="header">
      <div class="header_left">
        <%= link_to image_tag("logo.png", class:"top_logo"),"/" %>

        <form class="form1"  action="/" method="get">
          <i class="fas fa-map-marker-alt"></i>
          <input id="sbox1" name="area" type="text" placeholder="ã‚¨ãƒªã‚¢æ¤œç´¢" class="index_input"></form>

        <form class="form1"  action="/" method="get">
          <i class="fas fa-search"></i>
          <input id="sbox2" name="keyword" type="text" placeholder="ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰æ¤œç´¢" class="index_input"></form>
      </div>
    </div>

    <% if user_signed_in? %>
      <%# ðŸ” %>
      <div class="user_name">
        <%= current_user.name %>
      </div>
        <div class="hamburger-menu"> 
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn">
          <% if current_user.img? %>
              <%= image_tag current_user.img.url ,:height=>"40", class:"usericon" %>
          <% else %>
              <%= image_tag "default.png" ,:height=>"40" , class:"usericon" %>
          <% end %></label>
          <!--ã“ã“ã‹ã‚‰ãƒ¡ãƒ‹ãƒ¥ãƒ¼-->
            <div class="menu-content">            
              <ul>
                <li>
                  <%= link_to("ãƒ«ãƒ¼ãƒ ä¸€è¦§","/rooms/index") %>
                </li>
                <li>
                  <%= link_to("ãƒ«ãƒ¼ãƒ ç™»éŒ²","/rooms/new") %>
                </li>
                <li>
                  <%= link_to("ä¸€è¦§(ä»®)","/users/index") %>
                </li>
                <li>
                  <%= link_to("è¨­å®š","/users/show") %>
                </li>
                <li>
                  <%= link_to("ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ",destroy_user_session_path, method: :delete) %>
                </li>
              </ul>
            </div>
          </div>
            <%# ã“ã“ã¾ã§ðŸ” %>
      <%else%>
        <div class="header_right">
          <ul>
            <li>
              <%= link_to("ãƒ­ã‚°ã‚¤ãƒ³",new_user_session_path) %>
            </li>
            <li>
              <%= link_to("ç™»éŒ²ã™ã‚‹",new_user_registration_path) %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>


    </header>
         <% if flash.notice  %>
          <p class="notice"><%= flash.notice%></p>
         <%end%>

      <%= yield %>

      <footer>
        <p><span>Â©</span> 2021 KUMAKUMA.INC.</p>
      </footer>

  </body>
</html>
