<!DOCTYPE html>
<html>
  <head>
    <title>Ayabnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header_left">
          <%= link_to image_tag("logo.png", class:"top_logo"),"/" %>

          <i class="fas fa-map-marker-alt form1"></i>
          <%= search_form_for @search do |f| %>        
              <%= f.text_field :address_cont, placeholder: 'ã‚¨ãƒªã‚¢æ¤œç´¢',class:"index_input form-control" %>
          <% end %>

          <i class="fas fa-search form1"></i>
          <%= search_form_for @search do |f| %>
              <%= f.text_field :name_or_address_or_introduction_cont, class: "form-control",placeholder: 'ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰æ¤œç´¢',class:"index_input form-control" %>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <%# ðŸ” %>
          <div class="user_name">
            <%= current_user.name %>
          </div>
            <div class="hamburger-menu"> 
              <input type="checkbox" id="menu-btn-check">
              <label for="menu-btn-check" class="menu-btn">
              <% if current_user.img? %>
                  <%= image_tag current_user.img.url ,:height=>"40", class:"usericon" %>
              <% else %>
                  <%= image_tag "default.png" ,:height=>"40" , class:"usericon" %>
              <% end %></label>
              <!--ã“ã“ã‹ã‚‰ãƒ¡ãƒ‹ãƒ¥ãƒ¼-->
              <div class="menu-content">            
                <ul>
                  <li>
                    <%= link_to("ãƒ«ãƒ¼ãƒ ä¸€è¦§",rooms_index_path) %>
                  </li>
                  <li>
                    <%= link_to("ãƒ«ãƒ¼ãƒ ç™»éŒ²", new_room_path) %>
                  </li>
                  <li>
                    <%= link_to("äºˆç´„ä¸€è¦§", posts_path) %>
                  </li>
                  <li>
                    <%= link_to("urseä¸€è¦§(ä»®)",users_index_path) %>
                  </li>
                  <li>
                    <%= link_to("ãƒžã‚¤ãƒšãƒ¼ã‚¸","/users/show") %>
                  </li>
                  <li>
                    <%= link_to("ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ",destroy_user_session_path, method: :delete) %>
                  </li>
                </ul>
              </div>
            </div>
              <%# ã“ã“ã¾ã§ðŸ” %>
        <%else%>
          <div class="header_right">
            <ul>
              <li>
                <%= link_to("ãƒ­ã‚°ã‚¤ãƒ³",new_user_session_path) %>
              </li>
              <li>
                <%= link_to("ç™»éŒ²ã™ã‚‹",new_user_registration_path) %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </header>

    <%# ã‚¨ãƒ©ãƒ¼æ–‡ %>
    <% if flash.notice  %>
    <p class="notice"><%= flash.notice%></p>
    <%end%>

    <%= yield %>

    <footer>
      <p><span>Â©</span> 2021 KUMAKUMA.INC.</p>
    </footer>

  </body>
</html>
