<!DOCTYPE html>
<html>
  <head>
    <title>Aya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


  </head>

  <body>
    <header>
    <div class="header_left">
      <%= link_to image_tag("logo.png", class:"img"),"/" %>

      <form class="form1"  action="/" method="get">
        <i class="fas fa-map-marker-alt"></i>
        <input id="sbox1" name="area" type="text" placeholder="エリア検索" class="index_input"></form>

      <form class="form1"  action="/" method="get">
        <i class="fas fa-search"></i>
        <input id="sbox2" name="keyword" type="text" placeholder="キーワード検索" class="index_input"></form>
    </div>

    <div class="header_right">
      <ul>
        <li>
          <%= link_to("仮user一覧","/users/index") %>
        </li>
        <li>
          <%= link_to("登録する","/users/new") %>
        </li>
      </ul>
    </div>


    </header>
      <%= yield %>
      <footer>
        <p><span>©</span> 2021 KUMAKUMA.INC.</p>
      </footer>

  </body>
</html>
